<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ade39c34-8dee-458a-970e-1585f4de01e6/resourceGroups/rg-automobile-api/providers/Microsoft.Web/sites/automobile-api-app</ResourceId>
    <ResourceGroup>rg-automobile-api</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://automobile-api-app.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://automobile-api-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$automobile-api-app</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>